.cardinfo {
    font-size: 11px;
}

.icon {
    margin-right: 5px;
}

.team {
    margin-right: 7px;
    background-color: #d1d1d1;
    color: #fff;
    padding: 2px 5px;
}

.date {
    color: #2196f3;
}