.VideosList h3 {
    text-align: center;
    margin: 20px;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
}

.VideosList a {
    display: block;
    text-decoration: none;
}

.videoListItem {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background-color: #fff;
}

.videoListItem h2 {
    font-size: 13px;
    color: #525252;
}

.leftie {
    background-size: cover !important;
}

.leftie div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: url('/images/play.png');
}

.rigthie {
    flex-grow: 1;
    padding: 10px;
}

.videosrelatedw {
    margin: 0px 5px;
    
}